.blurb {
    background-color: white;
    margin-top: 13%;
    text-align: center;
    padding: 20px;
}

h2 {
    text-align: center;
    padding: 15px;
}

a {
    color: black;
}

#icons {
    padding: 0px 5px 0px 5px;
}

a:hover {
    text-decoration: none;
    color: rgb(250,159,181)
}

body {
	background: linear-gradient(-45deg, #fe80a1, #9cc2eb, #fcac7d);
	background-size: 200% 200%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}